/* Navigation Bar */
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.skiptomain{
    position: absolute;
    left: -50%;
    top: auto
}
.skiptomain:focus{
    position: static;
    width: auto;
    height: auto

}
a:link{
    color: black
}
a:visited{
    color: rgb(38, 25, 25);
}
a:hover{
    width: 20px;
    height: 20px;
    padding: 20px 0px;
    text-align: center;
    margin: 20px 20px;
    border-radius: 10px;
    font-weight: bold;
    border: 2px solid black;
    /* background: black; */
    color: black;
    cursor: pointer;
    /* color: rgb(38, 25, 25);
    background-color: transparent;
    border: 5px solid black;
    border-radius: 20x; */
}
.currPage{
    border: 5px dotted black;
    padding: 5px;
    border-radius: 8px;
    font-size: larger;
}
.navbar{
    width: 100%;
    margin: auto;
    padding: 35px 0;
    display:flex;
    align-items:center;
    justify-content: space-around;
    font-size: large;
    background-color: rgb(218, 174, 141);
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 25px;
    opacity: 100%;
    text-transform: uppercase;
}


.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background-color: white;
    position: absolute;
    left: 0;
    bottom:-10px;
    transition: 0.6s;
}
.navbar ul li:hover::after{
    width: 100%;
}


footer{
    position: relative;
}
footer p{
    position: absolute;
    bottom:0;
    right: 0;
    padding: 8px;
    font-size: small;
    color: white;
}
    

.hairstyles img{
    display: grid;
    grid-template-columns: 20% 20% 20%; 
    grid-gap: 10px;
    width: 70%; 
    margin: auto;  
    justify-content: space-around;  
    align-items: center;
    align-items: stretch;
    justify-self: center;
    height: auto;
    }
.hairstyles{
    background-color: tan;
}
    
    #locs{
        grid-column: 2;
    }

    .header{
        color: rgb(38, 25, 25);
        font-family: "Brush Script MT", "Courier New", monospace;
        font-size:xx-large;
        background-color: pink;
        text-align: center;
    }
    div p{
        background-color: tan;
        font-size: large;
        font-family:'Monsterrat' ;
        text-align: center;
        line-height: 1.5em ;
        height: 3em;
        overflow: hidden;
    }
    /*@media screen and (min-width:400px){
        .hairstyles{ 
        background-color: lavenderblush;
        grid-template-columns: 20% 20% ;
        justify-content:center; 
        align-items:stretch;
        }
        .hairstyles img{
            grid-column: auto/span 2;
        }

        
    }*/
        
    
    @media screen and (min-width:700px){
    
       /* .hairstyles{
            display: grid;
            background-color: bisque;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 15px;
            justify-content:center; 
            align-items:stretch;
        }*/

    .hairstyles{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-gap: 10px;
    width: 100%; 
    margin: auto;  
    justify-content: space-around;  
    align-items: center;
    align-items: stretch;
    background-color: tan;
    justify-self: center;
    height: auto;}


    



        
        #flat-twist{
            grid-column: 2;
            grid-row: 1;
        }
        #bantu-knots-2{
            grid-area: 1/1/2/2;
        }
        
        /*.hairstyles{ 
        background-color: bisque;
        grid-template-columns: 20% 20% 20% 20%;
        grid-row-gap: 20px;
        justify-content:center; 
        align-items:stretch;}
    
        .hairstyles img{
            grid-column: span 2;
        }
        #locs{
            grid-area: 5/3/5/5;
            justify-content: space-around;
        }*/
        nav ul{
            display: flex;
            flex-flow: row nowrap;
            list-style: none;
            font-size: x-large;
            justify-content: space-around;
          
        }
        
    }
        


    @media screen and (min-width:1200px){
        .hairstyles{ 
            background-color: tan;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            justify-content:center; 
            align-items:stretch;
            grid-column: 1/3}
        

            nav ul{
                display: flex;
                flex-flow: row nowrap;
                list-style: none;
                font-size: x-large;
                justify-content: space-around;
              
            }}
            .caption p{
                font-size: medium;
            }
        


    