/* @media screen and (min-width:450px){ */
    .gallery{
        display: grid;
        grid-template-columns: 20% 20%; 
        width: 90%; 
        margin:auto;  
        justify-content:space-around;  
        align-items:center;
        align-items:stretch;
        background-color: tan;
        }
        .gallery img{
            width: 100%;
        }
    
        /* @media screen and (min-width:600px){
            .gallery{ 
            background-color: lavenderblush;
        }
        .gallery img:nth-child(4n){ 
            grid-column: 1/-1;
         
        }
    }
    @media screen and (min-width:760px){
        .gallery{ 
        background-color: wheat;
        grid-template-columns: 20% 20% 20% 20%;
        justify-content:center; 
        align-items:stretch;
    }
    .gallery img:nth-child(4n){ 
        grid-column: 1/-1;
        
    }
    }
    @media screen and (min-width:900px){
        .gallery{ 
        background-color: bisque;
        grid-template-columns: 20% 20% 20% 20%;
        justify-content:center; 
        align-items:stretch;
        grid-column: 1/3}}
    
        .gallery img{
            grid-column: auto/span 2;
        }
    
        .gallery img:nth-child(3n){ 
            grid-column: 2/4;}
    
            .gallery img:nth-child(4n){ 
                grid-column:auto/span 2}
                
                .gallery img:nth-child(5n){ 
                    grid-column:auto/span 2}
    
    
     */