/* Navigation Bar */
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.skiptomain{
    position: absolute;
    left: -50%;
    top: auto
}
.skiptomain:focus{
    position: static;
    width: auto;
    height: auto

}
a:link{
    color: black
}
a:visited{
    color: rgb(38, 25, 25);
}
a:hover{
    width: 20px;
    height: 20px;
    padding: 20px 0px;
    text-align: center;
    margin: 20px 20px;
    border-radius: 10px;
    font-weight: bold;
    border: 2px solid black;
    /* background: black; */
    color: black;
    cursor: pointer;
    /* color: rgb(38, 25, 25);
    background-color: transparent;
    border: 5px solid black;
    border-radius: 20x; */
}
.currPage{
    border: 5px dotted black;
    padding: 5px;
    border-radius: 8px;
    font-size: larger;
}
.navbar{
    width: 100%;
    margin: auto;
    padding: 35px 0;
    display:flex;
    align-items:center;
    justify-content: space-around;
    font-size: large;
    background-color:  rgb(218, 174, 141);
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 25px;
    opacity: 100%;
    text-transform: uppercase;

}

.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background-color: white;
    position: absolute;
    left: 0;
    bottom:-10px;
    transition: 0.6s;
}
.navbar ul li:hover::after{
    width: 100%;
}




/* @media screen and (min-width:450px){
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0
}
nav ul{
    display: flex;
    flex-flow: row nowrap;
    list-style: none;
    font-size: large;
  
}
li a{
 padding: 7px;
 margin-top: auto;
 text-decoration: none;
}
    https://www.w3schools.com/accessibility/accessibility_skip_links.php
    .skiptomain{
        position: absolute;
        left: -50%;
        top: auto
    }
    .skiptomain:focus{
        position: static;
        width: auto;
        height: auto
    
    }
    a:link{
        color:beige
    }
    a:visited{
        color: rgb(38, 25, 25)
    }
    a:hover{
        color: pink;
    }
    .currPage{
        border: 2px dotted black;
        padding: 5px;
        border-radius: 8px;
    }
    body{
        background-color: tan;
    }
    .header{
        color: rgb(38, 25, 25);
        font-family: "Brush Script MT", "Courier New", monospace;
        font-size:xx-large;
        background-color: pink;
        text-align: center;}
    footer{
            position: relative;
        }
    footer p{
            position: absolute;
            bottom:0;
            right: 0;
            padding: 8px;
            font-size: small;
            color: white;
        }
  @media screen and (min-width:700px){
          nav ul{
              display: flex;
              flex-flow: row nowrap;
              list-style: none;
              font-size: x-large;
              justify-content: space-around;
            
          }}
  @media screen and (min-width:1200px){
                nav ul{
                    display: flex;
                    flex-flow: row nowrap;
                    list-style: none;
                    font-size: x-large;
                    justify-content: space-around;
                  
                }}
     */


