*{
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

nav ul{
    display: flex;
    flex-flow: row nowrap;
    list-style: none;
    font-size: large;
}
li a{
 padding: 7px;
 margin-top: auto;
 text-decoration: none;
}

/*https://www.w3schools.com/accessibility/accessibility_skip_links.php*/
.skiptomain{
    position: absolute;
    left: -50%;
    top: auto
}
.skiptomain:focus{
    position: static;
    width: auto;
    height: auto

}
a:link{
    color:blue
}
a:visited{
    color:rgb(38, 25, 25)
}
a:hover{
    color: pink;
}
.currPage{
    border: 2px dotted black;
    padding: 5px;
    border-radius: 8px;
}
body{
    background-color: tan;
}


    

.hairstyles img{
    display: grid;
    grid-template-columns: 20% 20% 20%; 
    grid-gap: 10px;
    width: 70%; 
    margin: auto;  
    justify-content: space-around;  
    align-items: center;
    align-items: stretch;
    background-color: lavenderblush;
    justify-self: center;
    height: auto;
    }
    
    #locs{
        grid-column: 2;
    }

    .header{
        color: rgb(38, 25, 25);
        font-family: "Brush Script MT", "Courier New", monospace;
        font-size:xx-large;
        background-color: pink;
        text-align: center;
    }
    div p{
        background-color: tan;
        font-size: large;
        font-family:'Monsterrat' ;
        text-align: center;
        line-height: 1.5em ;
        height: 3em;
        overflow: hidden;
    }
    img:hover{
        box-shadow: gray;
    }
    /*@media screen and (min-width:400px){
        .hairstyles{ 
        background-color: lavenderblush;
        grid-template-columns: 20% 20% ;
        justify-content:center; 
        align-items:stretch;
        }
        .hairstyles img{
            grid-column: auto/span 2;
        }

        
    }*/
        
    
    @media screen and (min-width:700px){
    
       /* .hairstyles{
            display: grid;
            background-color: bisque;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 15px;
            justify-content:center; 
            align-items:stretch;
        }*/

    .hairstyles{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-gap: 10px;
    width: 100%; 
    margin: auto;  
    justify-content: space-around;  
    align-items: center;
    align-items: stretch;
    background-color: tan;
    justify-self: center;
    height: auto;}


    



        
        #flat-twist{
            grid-column: 2;
            grid-row: 1;
        }
        #bantu-knots-2{
            grid-area: 1/1/2/2;
        }
        
        /*.hairstyles{ 
        background-color: bisque;
        grid-template-columns: 20% 20% 20% 20%;
        grid-row-gap: 20px;
        justify-content:center; 
        align-items:stretch;}
    
        .hairstyles img{
            grid-column: span 2;
        }
        #locs{
            grid-area: 5/3/5/5;
            justify-content: space-around;
        }*/
        nav ul{
            display: flex;
            flex-flow: row nowrap;
            list-style: none;
            font-size: x-large;
            justify-content: space-around;
          
        }
        
    }
        


    @media screen and (min-width:1200px){
        .hairstyles{ 
            background-color: tan;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            justify-content:center; 
            align-items:stretch;
            grid-column: 1/3}
        

            nav ul{
                display: flex;
                flex-flow: row nowrap;
                list-style: none;
                font-size: x-large;
                justify-content: space-around;
              
            }}
            .caption p{
                font-size: medium;
            }
        


    