*{
    box-sizing: border-box;
    margin: 0;
    padding: 0
}
nav ul{
    display: flex;
    flex-flow: row nowrap;
    list-style: none;
    font-size: large;
  
}
li a{
 padding: 7px;
 margin-top: auto;
 text-decoration: none;
}

/*https://www.w3schools.com/accessibility/accessibility_skip_links.php*/
.skiptomain{
    position: absolute;
    left: -50%;
    top: auto
}
.skiptomain:focus{
    position: static;
    width: auto;
    height: auto

}
a:link{
    color:blue
}
a:visited{
    color:rgb(38, 25, 25)
}
a:hover{
    color: pink;
}
.currPage{
    border: 2px dotted black;
    padding: 5px;
    border-radius: 8px;
}
body{
    background-color: tan;
}
.header{
    color: rgb(38, 25, 25);
    font-family: "Lucida Console", "Courier New", monospace;
    font-size:xx-large;
}
    

.hairstyles{
    display: grid;
    grid-template-columns: 20% 20%; 
    width: 90%; 
    margin:auto;  
    justify-content:space-around;  
    align-items:center;
    align-items:stretch;
    background-color: tan;
    }
    .hairstyles img{
        width: 100%;
    }

    .header{
        color: rgb(38, 25, 25);
        font-family: "Brush Script MT", "Courier New", monospace;
        font-size:xx-large;
        background-color: pink;
        text-align: center;
    
    }
    @media screen and (min-width:400px){
        .hairstyles{ 
        background-color: lavenderblush;
        grid-template-columns: 20% 20% ;
        justify-content:center; 
        align-items:stretch;
        }
        .hairstyles img{
            grid-column: auto/span 2;
        }

        
    }
        
    
    @media screen and (min-width:700px){
        .hairstyles{ 
        background-color: bisque;
        grid-template-columns: 20% 20% 20% 20%;
        justify-content:center; 
        align-items:stretch;
        grid-column: 1/3}
    
        .hairstyles img{
            grid-column: auto/span 2;
        }
        nav ul{
            display: flex;
            flex-flow: row nowrap;
            list-style: none;
            font-size: x-large;
            justify-content: space-around;
          
        }}

        
    /*I know this is wrong, just copied for another view*/

    @media screen and (min-width:1200px){
        .hairstyles{ 
            background-color: rgb(255, 254, 196);
            grid-template-columns: 20% 20% 20% 20% 20% 20%;
            justify-content:center; 
            align-items:stretch;
            grid-column: 1/3}
        
            .hairstyles img{
                grid-column: auto/span 2;
            }

            nav ul{
                display: flex;
                flex-flow: row nowrap;
                list-style: none;
                font-size: x-large;
                justify-content: space-around;
              
            }}


    